#welcome {
  position: relative;
  float: left;
  margin-top: 2.2vw;
  margin-left: 4vw;
}
#picnic {
  position: relative;
  float: right;
  width: 11vw;
}

.left {
  position: relative;
  float: left;
  width: 48vw;
  height: 75vh;
}
.right {
  position: relative;
  float: right;
  width: 52vw;
  height: 75vh;
}
.group {
  position: relative;
  float: left;
  width: 50vw;
  min-width: 500px;
}
#group1 {
  margin-top: 5vw;
}
#group2 {
  margin-top: 5vw;
}
#group3 {
  margin-top: 7vw;
}
.ck_image {
  position: relative;
  float: left;
  margin-left: 2vw;
}
#ck_image1 {
  position: relative;
  width: 12vw;
}
#ck_image2 {
  position: relative;
  width: 13vw;
  margin-left: 2vw;
}

#ck_image3 {
  position: relative;
  width: 20vw;
}
.subtitle {
  position: relative;
  float: left;
}
#subtitle1 {
  float: left;
  width: 8.4vw;
  margin-top: 0.8vw;
  margin-left: 1.2vw;
}
#subtitle2 {
  width: 7.5vw;
  margin-top: 1.2vw;
  margin-left: 0.4vw;
}
#subtitle3 {
  width: 15.5vw;
  margin-top: 2vw;
  margin-left: 0.7vw;
}
.description {
  float: left;
}
#description1 {
  margin-top: 3vw;
  margin-left: -8.2vw;
}
#description2 {
  margin-top: 3.2vw;
  margin-left: -7vw;
}
#description3 {
  margin-top: 1.5vw;
  margin-left: 1vw;
}
.copyright {
  position: relative;
  float: left;
  color: #270707;
  margin-left: 1.5vw;
  margin-top: 0.1vw;
  width: 10vw;
}
